* {
  box-sizing: border-box;
  margin: 0px;
}
/*style unordered list*/
ul{list-style: none;}
/*style icon in general*/
i.fas{
  font-size: 1.5em;
  padding: 5px;
  margin-right: 15px;
  color: rgb(50 53 149);
}
/* Style for header*/
.header {
  background-image:url('img/header.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 80px;
  min-height: 500px;
}
.sub-caja-backimg{
  background-image:url('img/sectionimg.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 25px;
}
/*styles for headers*/
h1{ margin-top: 120px; color: rgb(250, 250, 250); font-size: 4.5em;}
h2{font-size: 2.5em;}
h1 , h2{ /* same styles for h1 and h2*/
  text-align: center; 
  padding: 20px;
  font-style: oblique;
  font-family: serif;
  
} 
/*styles header text*/
.header-text{
  background: rgb(138 164 202 / 45%);;
  color: #131212;
  padding: 30px;
  text-align: center;
  min-height: 400px;
}
/*Style for menu*/
.menu {
  background: rgb(224, 235, 235);
  padding: 15px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 100px;;
}
.menu a {
  padding:20px;
  text-decoration: none;
  color:black;
  line-height: 40px;
}
.menu a.active{
  background-color: #afcfec;
  font-weight: bold;
}
.menu a:hover{
  background-color: #ccebff;
  font-style: italic;
  font-weight: bold;
}
/*style container*/
.container{overflow: auto;}
/*Style for contents*/
#aboutme {min-height: 400px;}
.main {
  float: right;
  width: 60%;
  padding: 15px;
}
.lista a{
  text-decoration: none;
  color: black;
}
.lista li{font-size: 1.2em;}
.img-aboutme {
  width: 25%;
  float: right;
  /*margin: 0px 0px 0px 150px;*/
}
/*mismo estilo para formacion laboral y contacto*/
.section-formacion,.section-laboral,.section-contact{
  width: 60%;
  margin: 5% 20% 0 20%;
  min-height: 400px;
  background: #ffffff;
}
/*style section formacion*/
.section-formacion{
  border-left: rgb(80, 80, 238) solid;
  border-radius: 15px;
  box-shadow:5px 5px 15px 10px rgb(80  80 238 / 34%);
  border-width: 0px 0px 0px 20px;
}
/*experiencia laboral*/
.section-laboral p{
  padding: 20px;
  margin: 10px 0 10px 0;
  color: white; 
  text-align: center;
  font-size: 1.2em;
}
.exp-laboral{padding: 20px;}
.exp-up {width: 50%; background-color: #4CAF50; float:left; }
.exp-down {width: 50%; background-color: #2196F3; float: right;}
/*style section trabajos*/
.section-trabajo h2{margin-bottom: 50px;}
.section-trabajo{background-color:rgba(183, 206, 231, 0.61);}
.section-laboral{
  border-right: rgb(53, 240, 131) solid;
  border-radius: 0px 15px 15px 0px;
  box-shadow:0px 0px 30px rgb(53  240 131 / 34%);
  border-width: 0px 20px 0px 0px;
}
.img-trabajos img{
  height: 200px;
  width: 300px;
}
/*una caja vacia*/
.empty{
  background-color:rgba(183, 206, 231, 0.61);
  min-height: 250px;
}
/*style section contactos*/
.sub-caja-contact { padding: 50px;}
.section-contact{
  margin-top: -150px;
  min-height: 500px;
  text-align: center;
  border-top: rgb(51, 204, 204) solid;
  border-radius: 120px 30px;
  box-shadow: 5px 5px 20px 15px rgb(51 204 204 / 34%);
  border-width: 20px 0px 0px 0px;
}
.contact-info {
  float: left;
  padding: 50px;
  border-right: rgb(51, 204, 204) solid;
  height: 350px;
}
/*styles formulario contacto*/
.form{padding: 30px;}
label {padding: 15px;font-size: 1.2em;}
.box{width: 30%;height: 40px;}
/*styles iconos redes sociales*/
i.fab{
  font-size: 2.5em;
  padding: 8px;
}
i.fab.fa-linkedin {color: rgb(33,115,205);}
i.fab.fa-youtube-square {color: rgb(255, 0, 0);}
i.fab.fa-facebook-square {color: rgb(26,119,240);}
i.fab.fa-twitter {color: rgb(29, 161, 242);}
i.fab.fa-instagram {color: rgb(225,48,108);}
i.fab.fa-github{color: rgb(8, 8, 8);}
/*styles button contacto*/
.button {
  border-radius: 4px;
  background-color: #4eecab;
  border: none;
  color: #0c0c0c;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  margin: 5px;
}
.button:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
/*styles footer*/
footer{
  background-color: rgba(165, 207, 218, 0.5);
  padding: 20px;
  text-align:center;
  font-size: 1.1em;
}

/*media queries*/
/*ventana del navegador 600 px o menos y mayor 768px*/
@media only screen and (max-width: 600px) and (min-width: 768px) {
  .header {padding: 30px;min-height: auto;}
  .menu {margin-bottom: 50px;display: grid;}
  .menu a {padding: 0px;}
  .main {width: 100%; padding: 5px; }
  .img-aboutme {
    width: 100%;
    float: none;
    margin: 0px 0px 0px 100px;
  }
  .section-formacion, .section-laboral, .section-contact {width: 100%; margin: 0px 0px 30px 0px;}
  .img-trabajos img {margin: 0px 0px 10px 100px;}
  .section-contact {margin-top: -150px;}
  .contact-info {
    padding: 40px;
    height: auto;
    border-right: none;
  }
}