* {box-sizing: border-box;margin: 0px;}
canvas{
    background-color: rgb(105, 110, 110);
    margin: auto;
    display: block;
}
h1{text-align: center;}
h2{padding: 5px;}
.opciones{
    float: left;
    max-width: 280px;
}
.opciones button{
    padding: 15px;
    font-weight: bold;
    background-color: rgb(224, 211, 211);
    border-bottom: 1px solid rgb(36, 34, 34);
    color: black;
    min-width: 60%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
button:hover {
    background-color: #ddd;
}
label{
    margin-top: 15px;
    padding: 15px;
}
.hide{
   display: none;
}
#umbralRGB {
    position: absolute;
    background-color: rgb(224, 211, 211);
    color: rgb(10, 10, 10);
    padding: 20px;
    transform: translate(170px,35px); /*translate X e Y*/
    transition: transform 1s ease-in-out;
    border-radius: 5px;
}
/*.umbralRGB.hide{transform: translateY(230px);}*/
#original button{
    border-radius: 3px;
    padding: 5px;
}
.hide{
    display: none;
}