/*estilo canvas*/
*{cursor: pointer;}
#myCanvas{
    background-color: rgba(7, 7, 7, 0.918);
    display: block;
    margin: auto;
    padding: 5px;
}
#caja{
    position: fixed;
    top: 10px;
    left: 90px;
    padding: 15px;
    border: 3px solid rgb(120, 146, 230);
    border-radius: 5px;
}
button{
    padding: 10px;  
    width: auto;
    font-family: monospace;
    font-weight: bold; 
    font-size: 1.5em;
    border: none;
    border-radius: 3px;
    background-color: rgb(116, 218, 187);
    box-shadow: 0 4px #918d8de3;
}
button:active {
    border: none;
    box-shadow: 0 6px #918e8e;
    transform: translateY(3px);
}
label{font-size: 20px;}
select{
    background-color: rgb(116, 218, 187);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}
.opt{padding: 15px;}
button:disabled,button[disabled]{
  background-color: rgb(138, 228, 223);
  color: #080808;
}
.manual {
    position: absolute;
    background: rgb(224, 211, 211);
    color: rgb(37, 35, 35);
    width: 400px;
    padding: 20px;
    transform: translateX(-500px);
    transition: transform 1s ease-in-out;
    border-radius: 5px;
}
.manual.show{
    transform: translateY(180px);
}
