body{ background: linear-gradient(to bottom, #ccffff 0%, #999966 100%); background-attachment: fixed;}
@font-face {
    font-family: 'Digital';
    src: url(../fonts/DS-DIGI.TTF);
  }
.box{
    border-radius: 25px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    overflow: auto;
    box-shadow: 10px 10px 5px -2px rgb(103, 105, 107);
    background-color: rgb(196, 202, 206);
}
h1{text-align: center;}
.display{
    overflow: hidden;
    margin: 0px 10px 15px 10px;
    color: white;
    text-align: right;
    font-family: Digital;
    background-color: black;
    border-radius: 3px;
    padding: 5px;
    min-height: 85px;
    font-size: 35px;
    text-overflow: ellipsis;
}
#display_err{font-size: 25px;margin-right: 20px;}
#display_res{margin-right: 20px;}
.tab{margin-left: 20px;border-bottom: 3px solid #ccc ;font-size: 0.9rem;}
.tab button{ 
    cursor:pointer;
    background-color: rgba(130, 151, 181, 0.55);
    width: auto;
    font-weight: normal;
    padding: 5px;
}
.hide{display: none;}
button{
    padding: 10px 5px; 
    margin: 5px; 
    width: 60px;
    font-weight: bold; 
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px #918e8ebe;
    cursor:pointer;
}
sup{font-size: 0.6em;}
button:active {
    border: none;
    box-shadow: 0 6px #918e8e;
    transform: translateY(3px);
}
.caja_numeros,.numeros_sci{
    float: left;
    margin-left: 20px;
}
.operadores button{
    background-color: rgba(146, 158, 175);
}

.numeros button,.nums{
    background-color: rgba(147, 199, 147, 0.644);
}
.numeros button:hover{
    background-color: rgb(186, 240, 209);
}
.operadores button:hover{
    background-color: rgba(149, 173, 206, 0.856);
}
.numeros_sci button{
    background-color: rgba(141, 154, 190, 0.788);
}
.numeros_sci button:hover{
    background-color: rgba(184, 194, 221, 0.986);
}
