body{ background: linear-gradient(to bottom, #ccffff 0%, #999966 100%); background-attachment: fixed;}
@font-face {
    font-family: 'Digital';
    src: url(../fonts/DS-DIGI.TTF);
  }
.box{
    border: black solid;
    border-radius: 5px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    min-height: 320px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
    
}
h1{text-align: center;}
.display{
    overflow: hidden;
    margin: 0px 10px 15px 10px;
    color: white;
    text-align: right;
    font-family: Digital;
    background-color: black;
    border-radius: 3px;
    padding: 5px;
    min-height: 85px;
    font-size: 35px;
    text-overflow: ellipsis;
}
#display_err{font-size: 25px;margin-right: 20px;}
#display_res{margin-right: 20px;}
button{
    padding: 10px 5px; 
    margin: 5px; 
    width: 60px;
    font-weight: bold; 
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #918e8ebe;
    cursor:pointer;
}
button:active {
    border: none;
    box-shadow: 0 5px #918e8e;
    transform: translateY(3px);
}
.caja_numeros{
    float: left;
    margin-left: 20px;
}
.caja_opciones button,.opc{
    background-color: rgba(146, 158, 175, 0.548);
}

.numeros button,.nums{
    background-color: rgba(147, 199, 147, 0.644);
}
.numeros button:hover ,.nums:hover{
    background-color: rgb(186, 240, 209);
}
.opc:hover, .caja_opciones button:hover{
    background-color: rgb(187, 204, 206);
}